@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

.container{
    font-size: smaller !important;
    font-family: 'Open Sans',serif;
}
.viewer-container {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    display: block;
    border: 1px solid #dddddd;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.16), 0 8px 11px rgba(0, 0, 0, 0.28);
}

.accordion-item{
    margin: 5px 0 5px 0;
    border:1px solid rgb(221, 221, 221) !important;
}

.accordion-button {
    background-color: rgb(250, 250, 250)  !important;
    padding: 0.6em 0.8em 0.6em 0.8em !important;
}

.pager{
    margin-top: 20px;
}